In [ ]:
from faker import Faker
import random

fake = Faker()

# Generate salon data
date_time = fake.date_time_between(start_date='-1d', end_date='+1d')
service_type = random.choice(['haircut', 'coloring', 'manicure', 'pedicure'])
service_provider = fake.name()
appointment_length = random.randint(30, 120)
customer_name = fake.name()
customer_address = fake.address()
customer_phone = fake.phone_number()
customer_email = fake.email()

# Print salon data
print("Date and time of appointment:", date_time)
print("Type of service requested:", service_type)
print("Service provider assigned to the appointment:", service_provider)
print("Length of appointment (in minutes):", appointment_length)
print("Customer information:")
print("Name:", customer_name)
print("Address:", customer_address)
print("Phone number:", customer_phone)
print("Email:", customer_email)

Date and time of appointment: 2023-05-02 10:25:03
Type of service requested: haircut
Service provider assigned to the appointment: Erica Faulkner
Length of appointment (in minutes): 60
Customer information:
Name: Thomas Edwards
Address: PSC 3831, Box 6717
APO AE 76128
Phone number: +1-497-568-2725
Email: nelsonmatthew@example.org

In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-18.6.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 53.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.6.0

In [ ]:
from faker import Faker
import random
import pandas as pd

fake = Faker()  # set locale to South Africa

# Generate customers and service providers
customers = [{'name': fake.name(), 'address': fake.address(), 'phone': fake.phone_number()[:3] + ' ' + fake.msisdn()[-9:], 'email': fake.email()} for i in range(50)]
service_providers = [fake.name() for i in range(10)]

# Generate 500 rows of appointment data with repeating customers and service providers
appointment_data = []
for i in range(500):
    reference_number = fake.uuid4()
    date_time = fake.date_time_between(start_date='-1d', end_date='+1d')
    service_type = random.choice(['haircut', 'coloring', 'manicure', 'pedicure'])
    service_provider = random.choice(service_providers)
    appointment_length = random.randint(30, 120)
    customer = random.choice(customers)
    
    # Generate sales data
    service_prices = {'haircut': 50, 'coloring': 100, 'manicure': 30, 'pedicure': 40}
    service_revenue = service_prices[service_type] * (appointment_length / 60)
    total_revenue = service_revenue
    revenue_by_service_type = {service_type: service_revenue}
    revenue_by_service_provider = {service_provider: service_revenue}
    
    # Store appointment data
    appointment_data.append({'Reference Number': reference_number,
                             'Date and Time': date_time,
                             'Service Type': service_type,
                             'Service Provider': service_provider,
                             'Appointment Length (min)': appointment_length,
                             'Customer Name': customer['name'],
                             'Customer Address': customer['address'],
                             'Customer Phone': customer['phone'],
                             'Customer Email': customer['email'],
                             'Service Revenue': service_revenue})

# Create appointment dataset
appointment_df = pd.DataFrame(appointment_data)

# Assign reference numbers to each customer
reference_numbers = {}
for customer in customers:
    reference_numbers[customer['name']] = fake.uuid4()
    
for i in range(appointment_df.shape[0]):
    customer_name = appointment_df.loc[i, 'Customer Name']
    appointment_df.loc[i, 'Reference Number'] = reference_numbers[customer_name]

# Print appointment dataset
print("Appointment dataset:")
appointment_df

Appointment dataset:

,Reference Number,Date and Time,Service Type,Service Provider,Appointment Length (min),Customer Name,Customer Address,Customer Phone,Customer Email,Service Revenue
0,5628f19f-0ff1-4edf-a8ca-655df067ef0d,2023-05-01 15:34:12,haircut,Brittany Gutierrez,36,Trevor Long,"07310 Hansen Mountains\nNorth Wesleyberg, OH 3...",001 302968920,csanchez@example.org,30.000000
1,42aaa011-f915-4d39-acee-dcbe5d770059,2023-05-01 11:42:03,manicure,Amber Donovan,114,Steven Warren,"681 Lori Junctions Apt. 066\nRodriguezfort, CT...",001 679445407,joseph45@example.net,57.000000
2,ba9128fb-76ad-4f3c-acfb-197e84dba190,2023-05-01 17:02:29,coloring,Christy Bradley,116,Jamie Roberts,"65393 Allen Fork Apt. 615\nCarlsontown, MN 98094",+1- 036495149,lcooke@example.org,193.333333
3,f3533f9f-025d-46e5-bdaa-c88a16d0cefd,2023-05-02 21:16:17,manicure,Brittany Gutierrez,44,Adam Keller,"561 Antonio Freeway\nPort Connor, CA 04150",004 344049488,rachelbarber@example.org,22.000000
4,f13b0d32-d7df-499f-b6f2-aad05c641e78,2023-05-02 17:18:48,pedicure,Andrew Smith,64,Kristopher Mcneil,"21585 James Plaza\nLeetown, DE 66479",+1- 310582521,joann59@example.net,42.666667
...,...,...,...,...,...,...,...,...,...,...
495,c36deaee-544b-4c2a-b956-5325aebbf591,2023-05-02 02:22:27,haircut,Christy Bradley,70,Dan Eaton,"54670 Timothy Fords\nNew Brandon, ND 83020",001 468034031,klawson@example.net,58.333333
496,18612b9d-d95b-4e3a-8786-582623f3f0cd,2023-05-02 22:11:56,haircut,Carolyn Stephens,105,Matthew Johnson,"445 Nguyen Mountains\nJamesside, NY 50129",(53 701572761,christinehernandez@example.com,87.500000
497,a02daf3e-7e50-45c9-8c76-3407c6713ecc,2023-05-03 03:06:51,manicure,Jeffrey Johnson,31,Cory Conway,72628 Michael Center Suite 152\nMccormickchest...,+1- 162303321,hporter@example.org,15.500000
498,b0cce5ce-80de-496f-9d43-4a88dc1ffacc,2023-05-02 19:40:28,coloring,Andrew Smith,57,Justin Hamilton,"3031 Marshall Via\nPort Sara, OR 85147",597 297082855,christina97@example.org,95.000000
499,f864c9bb-0572-43e7-a432-e8dacab99739,2023-05-03 04:15:50,coloring,Brittany Gutierrez,102,Bryan Nguyen,"37036 Michelle Haven Suite 304\nEast Amy, IA 0...",(37 863852284,sarah79@example.org,170.000000

In [ ]:
from faker import Faker
import random
import pandas as pd

fake = Faker()

# Generate customers and service providers
customers = [fake.name() for i in range(50)]
service_providers = [fake.name() for i in range(10)]

# Generate 500 rows of appointment data with repeating customers and service providers
appointment_data = []
for i in range(500):
    reference_number = fake.uuid4()
    date_time = fake.date_time_between(start_date='-1d', end_date='+1d')
    service_type = random.choice(['haircut', 'coloring', 'manicure', 'pedicure','Braids'])
    service_provider = random.choice(service_providers)
    customer_name = random.choice(customers)
    customer_address = fake.address()
    customer_phone = fake.phone_number()[:3] + ' ' + fake.msisdn()[-9:]
    customer_email = fake.email()
    review = random.choice(['Y', 'N'])
    
    # Generate sales data
    service_prices = {'haircut': 50, 'coloring': 100, 'manicure': 30, 'pedicure': 40}
    #service_revenue = service_prices[service_type] * (appointment_length / 60)
    total_revenue = service_revenue
    revenue_by_service_type = {service_type: service_revenue}
    revenue_by_service_provider = {service_provider: service_revenue}
    
    # Store appointment data
    appointment_data.append({'Reference Number': reference_number,
                             'Date and Time': date_time,
                             'Service Type': service_type,
                             'Service Provider': service_provider,
                             'Customer Name': customer_name,
                             'Customer Address': customer_address,
                             'Customer Phone': customer_phone,
                             'Customer Email': customer_email,
                             'Service Revenue': service_revenue,
                             'Satisfaction? (Y/N)': review})

# Create appointment dataset
appointment_df = pd.DataFrame(appointment_data)

# Assign reference numbers to each customer
reference_numbers = {}
for customer in customers:
    reference_numbers[customer] = fake.uuid4()
    
for i in range(appointment_df.shape[0]):
    customer_name = appointment_df.loc[i, 'Customer Name']
    appointment_df.loc[i, 'Reference Number'] = reference_numbers[customer_name]

# Ensure that customer information matches across columns
for i in range(appointment_df.shape[0]):
    customer_name = appointment_df.loc[i, 'Customer Name']
    if appointment_df.loc[i, 'Customer Address'] == '':
        appointment_df.loc[i, 'Customer Address'] = fake.address()
    if appointment_df.loc[i, 'Customer Phone'] == '':
        appointment_df.loc[i, 'Customer Phone'] = fake.phone_number()[:3] + ' ' + fake.msisdn()[-9:]
    if appointment_df.loc[i, 'Customer Email'] == '':
        appointment_df.loc[i, 'Customer Email'] = fake.email()
        
# Print appointment dataset
print("Appointment dataset:")
appointment_df

Appointment dataset:

,Reference Number,Date and Time,Service Type,Service Provider,Customer Name,Customer Address,Customer Phone,Customer Email,Service Revenue,Satisfaction? (Y/N)
0,aec9de9b-1ee7-4ff5-b917-8f1064263413,2023-05-02 21:53:55,Braids,Jeffrey Johnson,Keith Willis,"86427 Kenneth Stravenue Apt. 843\nWestton, MS ...",+1- 106166093,sanderssean@example.net,100.0,N
1,0d86dc0d-ac23-44b0-9a49-d543a7b42116,2023-05-02 00:50:58,manicure,Michael Carlson,Douglas Stewart,"7628 Susan Passage\nJacksonmouth, NJ 64116",+1- 657029533,justingross@example.net,100.0,N
2,8ee841be-976a-4324-a2f9-0aecfd08905d,2023-05-02 13:24:56,pedicure,Erica Conway,Brandi Mitchell,"520 Brown Hollow Apt. 103\nPort Cheryl, UT 34273",001 545110463,roberto34@example.org,100.0,Y
3,8f15bb84-405e-48df-a6bb-b5fd163218ef,2023-05-02 18:06:37,manicure,Erica Conway,Michelle Holden,USNS Caldwell\nFPO AE 54434,(43 069404741,jcaldwell@example.org,100.0,N
4,443d8dde-61cc-4c17-a820-4b7851bf375f,2023-05-01 19:23:41,coloring,Steven Nielsen,Lisa Howell,"9331 Olson Green Apt. 370\nNorth Lisaton, MA 9...",939 554728618,mariah35@example.com,100.0,N
...,...,...,...,...,...,...,...,...,...,...
495,dc0940aa-42bf-46a2-ab45-4a0b5f02c894,2023-05-01 17:54:37,manicure,Howard Estrada,Jason Compton,"421 Jonathan Crossing\nSouth Jennifermouth, NY...",270 672995595,mollyvelasquez@example.org,100.0,N
496,09a1a32f-c1ce-4188-ab35-31e76e7d61af,2023-05-02 16:53:27,Braids,Howard Estrada,Paula Meyer,Unit 5193 Box 0001\nDPO AP 25287,001 018589100,kylejones@example.net,100.0,Y
497,fa86a0aa-0a12-4cd0-9118-bc25e4cf7d07,2023-05-01 13:04:47,haircut,Erica Conway,Amanda Rodriguez,"9114 Mckinney Isle Suite 705\nBrianside, NV 97533",001 358060957,george49@example.com,100.0,Y
498,58ef7aa1-ddd6-4a6c-a7b6-5390240aecc2,2023-05-02 13:36:54,coloring,Calvin Lewis Jr.,Richard Dawson,"083 James Valley\nNew James, VA 78472",+1- 475115674,hshannon@example.org,100.0,Y
499,2ff57abb-9d56-4298-8115-a421de78d928,2023-05-02 10:21:28,manicure,Erica Conway,Steven Smith,"18196 Mike Estate\nWest Randyton, MI 76800",307 151318206,allenkyle@example.org,100.0,N

In [41]:
from faker import Faker
import random
import pandas as pd

fake = Faker()

# Generate customers and service providers
customers = [{'name': fake.name(), 'age': random.randint(18, 60), 'gender': random.choice(['Male', 'Female'])} for i in range(50)]
service_providers = [fake.name() for i in range(10)]

# Generate 500 rows of appointment data with repeating customers and service providers
appointment_data = []
for i in range(500):
    reference_number = fake.uuid4()
    date_time = fake.date_time_between(start_date='-1d', end_date='+1d')
    service_type = random.choice(['haircut', 'coloring', 'manicure', 'pedicure'])
    service_provider = random.choice(service_providers)
    customer = random.choice(customers)
    customer_name = customer['name']
    customer_age = customer['age']
    customer_gender = customer['gender']
    customer_address = fake.address()
    customer_phone = fake.phone_number()[:3] + ' ' + fake.msisdn()[-9:]
    customer_email = fake.email()
    payment_method = random.choice(['Cash', 'Credit Card', 'PayPal'])
    appointment_status = random.choice(['Pending', 'Confirmed', 'Completed'])
    review = random.choice(['Y', 'N'])
    
    # Generate sales data
    service_prices = {'haircut': 50, 'coloring': 100, 'manicure': 30, 'pedicure': 40}
    appointment_length = random.randint(30, 180)
    service_revenue = service_prices[service_type] * (appointment_length / 60)
    total_revenue = service_revenue
    revenue_by_service_type = {service_type: service_revenue}
    revenue_by_service_provider = {service_provider: service_revenue}
    
    # Store appointment data
    appointment_data.append({'Reference Number': reference_number,
                             'Date and Time': date_time,
                             'Service Type': service_type,
                             'Service Provider': service_provider,
                             'Customer Name': customer_name,
                             'Customer Age': customer_age,
                             'Customer Gender': customer_gender,
                             'Customer Address': customer_address,
                             'Customer Phone': customer_phone,
                             'Customer Email': customer_email,
                             'Payment Method': payment_method,
                             'Appointment Status': appointment_status,
                             'Service Revenue': service_revenue,
                             'Satisfaction? (Y/N)': review})

# Create appointment dataset
appointment_df = pd.DataFrame(appointment_data)

# Assign reference numbers to each customer
reference_numbers = {}
for customer in customers:
    reference_numbers[customer['name']] = fake.uuid4()
    
for i in range(appointment_df.shape[0]):
    customer_name = appointment_df.loc[i, 'Customer Name']
    appointment_df.loc[i, 'Reference Number'] = reference_numbers[customer_name]

# Ensure that customer information matches across columns
for i in range(appointment_df.shape[0]):
    customer_name = appointment_df.loc[i, 'Customer Name']
    if appointment_df.loc[i, 'Customer Age'] == '':
        appointment_df.loc[i, 'Customer Age'] = customers[[c['name'] for c in customers].index(customer_name)]['age']
    if appointment_df.loc[i, 'Customer Gender'] == '':
        appointment_df.loc[i, 'Customer Gender'] = customers[[c['name'] for c in customers].index(customer_name)]['gender']
    if appointment_df.loc[i, 'Customer Address'] == '':
        appointment_df.loc[i, 'Customer Address'] = customers[[c['name'] for c in customers].index(customer_name)]['address']
    if appointment_df.loc[i, 'Customer Phone'] == '':
        appointment_df.loc[i, 'Customer Phone'] = customers[[c['name'] for c in customers].index(customer_name)]['phone']
    if appointment_df.loc[i, 'Customer Email'] == '':
        appointment_df.loc[i, 'Customer Email'] = customers[[c['name'] for c in customers].index(customer_name)]['email']

In [42]:
appointment_df

,Reference Number,Date and Time,Service Type,Service Provider,Customer Name,Customer Age,Customer Gender,Customer Address,Customer Phone,Customer Email,Payment Method,Appointment Status,Service Revenue,Satisfaction? (Y/N)
0,8ffd3823-376f-4711-bc76-9df26fb2c205,2023-05-03 04:14:46,pedicure,William Jones,Brianna Chapman,31,Female,"8239 Marc Prairie Suite 983\nNorth Jimmyshire,...",(26 632851373,williamtanner@example.net,PayPal,Completed,55.333333,Y
1,a9812695-3dfa-4c08-b5d5-389c76c6bda7,2023-05-01 23:25:19,pedicure,Joseph Townsend,Carmen Wang,33,Female,"25400 Johnson Walk Suite 139\nJessicahaven, CA...",(84 532294902,jennifer54@example.net,Credit Card,Confirmed,32.666667,Y
2,dbfb7c63-e09e-4108-ad6e-e278bac6c251,2023-05-02 01:40:53,pedicure,Breanna Cannon,Sarah Miller,26,Male,USCGC Jennings\nFPO AP 22695,633 784686431,thomas44@example.org,PayPal,Pending,93.333333,Y
3,f29bc433-6d50-4c90-bb3f-b35a76d758a6,2023-05-01 21:46:15,manicure,Eric Mahoney DDS,Jon Watkins,39,Female,"727 Matthew Causeway\nBrandonchester, ND 75591",+1- 905857185,cherylrios@example.org,Cash,Confirmed,73.500000,Y
4,c96a4c45-dacf-4f29-81c2-2eb018df7c09,2023-05-01 12:48:17,pedicure,Gary Aguilar,Catherine Ross,30,Female,"6301 Hodge Union\nJustinstad, CO 82433",438 241079555,michael94@example.net,Credit Card,Pending,91.333333,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,aa70e897-b796-4aac-b586-ebb90a12335c,2023-05-03 07:43:38,manicure,Eric Mahoney DDS,Antonio Rodriguez,45,Male,"16789 Brown Row\nSouth Sherryville, MD 39978",533 052262738,timothymartin@example.net,PayPal,Confirmed,69.000000,N
496,66df4831-a0ae-46f4-b18e-ea17d0e2ca62,2023-05-02 04:23:51,coloring,Joseph Townsend,Christopher Dunn,42,Female,"583 Mason Locks Apt. 185\nNorth Charlesburgh, ...",+1- 770860115,wardjennifer@example.com,PayPal,Completed,256.666667,N
497,ed8e2466-74bb-44e3-91c0-4dc0f4db77e4,2023-05-01 10:27:09,coloring,Joseph Townsend,John Little II,26,Female,"031 Maxwell Lodge\nNorth Sally, AR 48835",001 068622833,jillsmith@example.org,PayPal,Pending,126.666667,Y
498,eb8adddb-f73e-4d21-b293-9082c5353ab1,2023-05-01 17:31:07,coloring,Alison Smith,Tyler Dennis,53,Female,"76930 Carolyn Shoal\nLake Michael, AZ 01592",904 783188576,tylerkara@example.net,Credit Card,Completed,236.666667,Y
499,66df4831-a0ae-46f4-b18e-ea17d0e2ca62,2023-05-01 13:02:27,manicure,William Jones,Christopher Dunn,42,Female,"17377 Callahan Key Suite 303\nEast Timothy, MA...",(00 965522529,phillip12@example.org,Cash,Completed,37.000000,Y